@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudMenu Icon="@Icons.Material.Filled.Settings"
                     Color="Color.Inherit"
                     ActivationEvent="@MouseEvent.MouseOver"
                     AnchorOrigin="Origin.BottomRight"
                     TransformOrigin="Origin.TopRight">
                <AuthLinks />
            </MudMenu>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>